
/* yo. */

@import "mixins";
@import "bootstrap";


body,
h1,
h2,
h3 {
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#myscore,
.cliclic { font-weight: 700; font-size: 42px; }

#code {
    white-space: pre-wrap;
	position: absolute;
	bottom: 15px;
	border-radius: 15px;
	color: greenyellow;
	font-family: monospace;
	font-size:12px;
}
#wraper-code {
	height: 400px;

	overflow: hidden;
	position: relative;
	margin-bottom: 0;

	border-radius: 15px;
	border: 15px solid #333;
	background: #000;

	box-shadow: inset 0 30px 60px 0 #222;
}

#computer2 {
	position: relative;
	margin-bottom: 100px;

	&:before {
		content:"";
		display: block;
		position: absolute;
		width: 100%;
		height: 80px;
		background: #333;
		bottom: -90px;
		left: 0;
		right: 0;
		border-radius: 15px;
	}

	#ventilation {
		height: 40px;
		width: 5px;
		display: block;
		background: #111;
		border-radius: 10px;
		position: absolute;
		left: 20px;
		bottom: -70px;
		box-shadow: 10px 0 0 #111, 20px 0 0 #111, 30px 0 0 #111, 40px 0 0 #111;
	}

	#led {
		display: block;
		height: 8px;
		width: 8px;
		background: #000;
		border-radius: 6px;
		position: absolute;
		right: 70px;
		bottom: -54px;

		&.blink {
			background: greenyellow;
		}
	}

	#power-button {
		height: 60px;
		width: 30px;
		display: block;
		border-radius: 20px;
		background: #333;
		background: linear-gradient(to bottom, #333 35%, #555 65%);
		border: 2px solid #222;
		position: absolute;
		right: 15px;
		bottom: -80px;
		transition: all ease 0.2s;

		&:hover {
			background: linear-gradient(to bottom, #2A2A2A 35%, #333 65%);
		}
		&.active {
			background: linear-gradient(to bottom, #222 35%, #333 65%);
			border-color: greenyellow;
			animation: power 3s linear infinite;
			&:before {
				background: greenyellow;
				animation: powerLed 3s linear infinite;
			}
		}
		&:before {
			content:"";
			display: block;
			height: 8px;
			width: 8px;
			background: #000;
			border-radius: 6px;
			position: absolute;
			right: 9px;
			bottom: 10px;
		}
		@keyframes power {
			0%,50%,55%,79%,84% {
				border-color: greenyellow;
			}
			51%,80% {
				border-color: #222;
			}
		}
		@keyframes powerLed {
			0%,50%,55%,79%,84% {
				background: greenyellow;
			}
			51%,80% {
				background: #222;
			}
		}
	}
}

#myscore { text-align: center; margin: 0; }
#mycps { text-align: center; font-size: 24px; margin: 0 0 20px; }

#playground {
	width: 173px;
	height: 234px;
	position: relative;
	margin: 0 auto;
}
	#source {
		height: 80px;
		margin-top: 12px;
		position: absolute;
		width: 100%;
		z-index: 1;
		background: transparent url(script.png) repeat-y 50% 0;
		-webkit-animation: bgroll 5s infinite linear;
		-moz-animation: bgroll 5s infinite linear;
		animation: bgroll 5s infinite linear;
	}
	#computer {
		display: block;
		position: absolute;
		z-index: 2;
		width: 173px;
		height: 234px;
		background: transparent url(desktop.png) no-repeat 50% 0;
	}
	.cliclic {
		display: block;
		position: absolute;
		width: 70px;
		z-index: 3;
		font-size: 18px;
		color: #F0572F;
		text-align: center;
		pointer-events: none;
	}







/* items droite */

.disquette {
	width: 150px;
	height: 150px;
	background: #333;
	display: block;
	float: left;
	padding: 20px;
	margin: 10px;
	position: relative;
	color: red;
	border-radius: 2px;
	&:before {
		content:"";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		border-right: 20px solid #fff;
		border-bottom: 20px solid transparent;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		left: 20px;
		bottom: 20px;
		top: 60px;
		background: #eee;
		z-index: 0;
	}
	> * {
		position: relative;
		z-index: 2;
	}
}
#items {  }

#items > div { padding-bottom: 12px; }
#items .btn { font-size: 16px; text-transform: uppercase; width: 100%; }
#items .btn-primary { text-shadow: 0 1px 1px #113; }

#items p { margin: 0; }

#items .item-nb { text-align: center; font-weight: 700; font-size: 18px; color: #F0572F; line-height: 38px; }
#items .item-price { line-height: 38px; }

